@* 
aca se hace la confirmacion de que si se va eliminar un user
<div class="alert alert-danger" role="alert">
  <p>Estas seguro que deseas eliminar este usuario con Id: @Model.Id </p>
  <a class="btn btn-danger" asp-controller="Users" asp-action="Delete2" method="post" asp-route-id="@Model.Id">Eliminar</a>
</div> *@
    
